@import "tailwindcss";

:root {
    --blue-base: #2C46B1;
    --blue-dark: #2C4091;

    --white: #FFFFFF;
    --gray-100: #F9F9FB;
    --gray-200: #E4E6EC;
    --gray-300: #CDCFD5;
    --gray-400: #74798B;
    --gray-500: #4D505C;
    --gray-600: #1F2025;

    --danger: #B12C4D;
}

/* Apply to all scrollable elements */
* {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--blue-base) var(--gray-100); /* Firefox thumb / track */
  }
  
  /* Chrome, Edge, Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--gray-100);
    border-radius: 4px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--blue-base);
    border-radius: 4px;
    border: 2px solid var(--gray-100);
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-dark);
  }
  

  .group.has-error label {
    color: var(--danger);
    font-weight: 600;
  }
  
  .group.has-error .input {
    border-color: var(--danger);
    border-width: 2px;
  }
  
  /* focus state when there is no error */
  .group:not(.has-error):focus-within label {
    color: var(--blue-base);
    font-weight: 600;
  }
  
  .group:not(.has-error):focus-within .input {
    border-color: var(--blue-base);
    border-width: 2px;
  }